<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="csshake.min.css">
<link rel="stylesheet" type="text/css" href="csshake-slow.min.css">
{% load static %}
<nav class="navbar nav-pills navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home'%}">Curriculum Vitae</a>
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'home'%}">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'account_logout'%}"><i class="fa fa-user"></i> {{user.username}}</a>
        </li>
        <li style="padding-left: 850px;" class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'account_change_password'%}"><i class="fa fa-code"></i> Change Password</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'account_login'%}">Iniciar sesión <i class="fa fa-user"></i></a>
        </li>
        <li style="padding-left: 850px;" class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'account_reset_password'%}"><i class="fa fa-code"></i> Reset Password</a>
        </li>
        {% endif %}
    </ul>
    </div>
    </div>
</nav>
<div class="container">
    {% block contenido %}
    {% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>