{% extends 'base.html' %}
{% block contenido %}
{% load static %}
<br>
<script src="{% static '/js/alert.js' %}" type="text/javascript"></script>
<script src="{% static '/js/foto.js' %}" type="text/javascript"></script>
<body>
<br>
{% if user.is_authenticated %} 
    <div class="container">
        <div class="d-grid gap-2 mx-auto">
            <a class="btn btn-success" href="{% url 'cv' %}" role="button">Curriculum Vitae</a>
            <a class="btn btn-warning" href="{% url 'registro' %}" role="button"><strong>+</strong> Crear otro usuario</a>
            <a class="btn btn-danger" href="{% url 'itl' %}" role="button">TecNM Campus Laguna Info</a>
        </div>
    </div>
    <br>
    <div class="card-group shake-slow">
        <div style="height: 455px;width: 150px;" class="card">
            <img  style="padding-left: 150px;padding-right: 150px;" src="{% static 'img/fotoCV.jpeg' %}" class="card-img-top" alt="Alberto">
            <div class="card-body">
            <h5 class="card-title"><a href="{% url 'cv' %}"> CV Alberto V Flores</a></h5>
            </div>
        </div>
        <div class="card">
            <img style="padding-left: 100px;padding-right: 100px;padding-top: 80px;" src="{% static 'img/tecnm.png' %}" class="card-img-top" alt="ITL">
            <div class="card-body">
                <br>
            <h5 class="card-title"><a href="{% url 'itl' %}">TecNM Campus Laguna</a></h5>
            </div>
        </div>
    </div>
    <br>
    <div class="btn-group" role="group">
        <div>
            <a class="btn btn-success shake-crazy" href="{% url 'nuevo' %}" role="button">Add new CV</a>
        </div>
        &nbsp;
        <a class="btn btn-warning" role="button">Editar</a>
        <a class="btn btn-danger" role="button">Eliminar</a>
    </div>
    <br>
{% else %}
    <center>
        <h2><strong>NECESITAS INICIAR SÈSION</strong></h2>
        <a class="btn btn-warning" href="{% url 'registro' %}" role="button"><strong>+</strong> Crear un usuario</a>
    </center>
{% endif %}
<br>
<footer style="padding: 18px; border: 10px;border-style: dashed;border-width: 10px;border-color: purple;">
    <p><strong>Autor:</strong> Alberto Villarreal Flroes -> <a href="https://github.com/betoFlores58"><i class="fa fa-github"></i>GitHub</a></p>
    <p>
        <script src="{% static '/js/hora.js' %}" type="text/javascript"></script>
    </p>
</footer>
{% endblock %}
</body>
