{% extends 'base.html' %}
{% block contenido %}
{% load static %}
<br>
<div class="card text-center">
    <img width="200px" height="400px" style="padding-left: 250px;padding-right: 250px;" src="{% static 'img/ITL_logo.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
    <h5 class="card-title">TECNOLÓGICO NACIONAL DE MÉXICO</h5>
    <p class="card-text">INSTITUTO TECNOLÓGICO DE LA LAGUNA</p>
</div>
<ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Dirección: </strong><br>
        Blvd. Revolución y Av. Instituto Tecnológico de La Laguna, Torreón, Coahuila, C.P. 27000</li>
    <li class="list-group-item"><strong>Email: </strong><br>
        webmaster@correo.itlalaguna.edu.mx
    </li>
    <li class="list-group-item"><strong>Teléfono: </strong><br> 52 (871) 705-13-13</li>
</ul>
    <div class="card-body">
        <a href="http://www.itlalaguna.edu.mx/" role="button" class="card-link">Ir al sitio oficial</a>
    </div>
</div>
<br>
{% endblock %}