{% extends 'base.html' %}
{% block contenido %}
{% load static %}
<br>
<body style="background-color: slategrey;">
    <div class="card text-center">
    <img width="170px" height="430px" style="padding-left: 330px;padding-right: 330px;padding-top: 25px;" src="{% static 'img/ITL_logo.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">TECNOLÓGICO NACIONAL DE MÉXICO</h5>
            <p class="card-text">INSTITUTO TECNOLÓGICO DE LA LAGUNA</p>
        </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong><i class="fa fa-home"></i> Dirección: </strong><br>
            Blvd. Revolución y Av. Instituto Tecnológico de La Laguna, Torreón, Coahuila, C.P. 27000</li>
        <li class="list-group-item"><strong><i class="fa fa-envelope"></i> Email: </strong><br>
            webmaster@correo.itlalaguna.edu.mx
        </li>
        <li class="list-group-item"><strong><i class="fa fa-phone"></i> Teléfono: </strong><br> +52 (871) 705-13-13</li>
    </ul>
        <div class="card-body" style="background-color: chartreuse;">
            <a style="color: red;" target="_blank" href="http://www.itlalaguna.edu.mx/" role="button" class="card-link"><i class="fa fa-internet-explorer"></i> Ir al sitio oficial</a>
        </div>
    </div>
</body>
<br>
{% endblock %}